{% extends 'mart/base.html' %}
{% load static %}

{% block content %}
<form  method="POST" action="{% url 'mart:create_order' %}">{% csrf_token %}
  <label for="users">Choose a user:</label>
  <select name="users" id="users">
    {% for user in users %}
    <option value="{{ user.id }}">{{ user.id }}</option>
    {% endfor %}
  </select>
  <input type="submit" value="Submit">
</form>

<h3>Products List</h3>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>stock</th>
      <th>price</th>
      <th>shop ID</th>
      <th>VIP</th>
    </tr>
  </thead>
  <tbody>
    {% for product in products %}
    <tr>
      <td>{{ product.id }}</td>
      <td>{{ product.stock_pcs }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.shop_id }}</td>
      <td>{{ product.vip_only }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}