{% extends 'mart/base.html' %}
{% load static %}

{% block content %}
<form  method="POST" action="{% url 'mart:create_order' %}">{% csrf_token %}
  <label for="product">Choose a product:</label>
  <select name="product" id="product">
    {% for product in products %}
    <option value="{{ product.id }}">{{ product.id }}</option>
    {% endfor %}
  </select>
  <label for="quantity">Quantity:</label>
  <input type="number" min="1" name="quantity" id="quantity" value="1" required>
  <label for="customer">Choose a customer:</label>
  <select name="customer" id="customer">
    {% for customer in customers %}
    <option value="{{ customer.id }}">
      {{ customer.id }}
      {% if customer.user.vip %} (VIP) {% endif %}
    </option>
    {% endfor %}
  </select>
  <input type="submit" value="Submit">
</form>

{% if messages %}
  {% for message in messages %}
  <h4 class="messages">{{ message }}</h4>
  {% endfor %}
{% endif %}

<h3>Products List</h3>
<table>
  <thead>
    <tr>
      <th>product ID</th>
      <th>stock</th>
      <th>price</th>
      <th>shop ID</th>
      <th>VIP</th>
    </tr>
  </thead>
  <tbody>
    {% for product in products %}
    <tr>
      <td>{{ product.id }}</td>
      <td>{{ product.stock_pcs }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.shop_id }}</td>
      <td>{{ product.vip_only }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<hr>

<h3>Order List</h3>
<table>
  <thead>
    <tr>
      <th>order ID</th>
      <th>product ID</th>
      <th>quantity</th>
      <th>price</th>
      <th>shop ID</th>
      <th>delete order</th>
    </tr>
  </thead>
  <tbody>
    {% for order in orders %}
    <tr>
      <td>{{ order.id }}</td>
      <td>{{ order.product.id }}</td>
      <td>{{ order.quantity }}</td>
      <td>{{ order.product.price }}</td>
      <td>{{ order.product.shop_id }}</td>
      <td>
        <form method="POST" action="{% url 'mart:delete_order' %}">{% csrf_token %}
          <input type="hidden" name="order" id="order" value="{{ order.id }}">
          <button class="delete-order-btn" type="submit">delete</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}